# Игнорировать байткод
*.pyc
*.pyo

**/__pycache__/

# Игнорировать каталог с файлами настройки
**/config/

# Игнорировать каталог с данными и логами
**/data/img_in/*.*
**/data/img_out/*.*
**/logs/

# Игнорировать каталог с исполнимыми файлами и модулями (если таковой имеется)
**/bin/